<body>
    <footer>
     <div style="background-image:url(../assets/3.jpg); height: 700px; background-size: cover">
        <section class="sect" >
    
            <!-- <div class="leftbox">
                <div class="content">
                   <h1>Live Events</h1> 
                   <p>
                    Details of the events.Details of the events.Details of the events.Details of the events.Details of the events.Details of the events.
                   </p>
                </div>
            </div> -->
            <div class="events">
                <ul>
                    <li>
                        <div class="time">
                            <span> <img src="../assets/eve1.JPG" alt="contact"  style="display: block; margin-left:auto ; margin-right: auto; width: 100%; height: 60%;" ><br>
                                <h2><br>
                                <br><br> <br> <span>₹1000</span></h2></span>
                        </div>
                        <div class="details">
                            <h3>Varanasi - Technex Internships by EISystems </h3>
                            <p><strong> Event Descriptions:</strong>
                                EISystems<br>
                            <strong>Event Start Date -</strong> Fri, 15 May '20 from 09:00  to Fri, 31 Jul '20  06:00 </p>
                            <a href="/event1" class="vd">View Details</a>
                            <div style="clear: both;"></div>
                        </div>
                    </li>
                    <li>
                        <div class="time">
                            <span> <img src="../assets/eve2.JPG" alt="contact"  style="display: block; margin-left:auto ; margin-right: auto; width: 100%; height: 60%;" ><br>
                                <h2><br>
                                <br><br> <br> <span>₹2000</span></h2></span>
                        </div>
                        <div class="details">
                            <h3>TELOS 2020 </h3>
                            <p><strong> Event Descriptions:</strong>
                                Annual Online Technical Festival of MYWBUT<br>
                            <strong>Event Start Date -</strong> Thu, 28 May '20
                            from 09:00 to Sun, 31 May '20
                            10:00 </p>
                             <a href="/event2" class="vd">View Details</a>
                            <div style="clear: both;"></div>
                        </div>
                    </li>
                    <li>
                        <div class="time">
                            <span> <img src="../assets/eve3.JPG" alt="contact"  style="display: block; margin-left:auto ; margin-right: auto; width: 100%; height: 60%;" ><br>
                                <h2><br>
                                <br><br> <br> <span>₹5000</span></h2></span>
                        </div>
                        <div class="details">
                            <h3>Trishul'20</h3>
                            <p><strong> Event Descriptions:</strong>
                                The Tech-Carnival" is a Technical Events<br>
                            <strong>Event Start Date -</strong>  Tue, 01 Sep '20 from 00:00 to Fri  Wed 30 Sep   11:59 </p>
                            <a href="/event3" class="vd">View Details</a>
                            <div style="clear: both;"></div>
                        </div>
                    </li>
                </ul>
            </div>
            
            <!-- Next Tab -->

            <div class="events">
                <ul>
                    <li>
                        <div class="time">
                            <span> <img src="../assets/eve1.JPG" alt="contact"  style="display: block; margin-left:auto ; margin-right: auto; width: 100%; height: 60%;" ><br>
                                <h2><br>
                                <br><br> <br> <span>₹1000</span></h2></span>
                        </div>
                        <div class="details">
                            <h3>Varanasi - Technex Internships by EISystems </h3>
                            <p><strong> Event Descriptions:</strong>
                                EISystems<br>
                            <strong>Event Start Date -</strong> Fri, 15 May '20 from 09:00 to Fri, 31 Jul '20  06:00 </p>
                            <a href="/event1" class="vd">View Details</a>
                            <div style="clear: both;"></div>
                        </div>
                    </li>
                    <li>
                        <div class="time">
                            <span> <img src="../assets/eve2.JPG" alt="contact"  style="display: block; margin-left:auto ; margin-right: auto; width: 100%; height: 60%;" ><br>
                                <h2><br>
                                <br><br> <br> <span>₹2000</span></h2></span>
                        </div>
                        <div class="details">
                            <h3>TELOS 2020 </h3>
                            <p><strong> Event Descriptions:</strong>
                                Annual Online Technical Festival of MYWBUT<br>
                            <strong>Event Start Date -</strong> Thu, 28 May '20
                            from 09:00 to Sun, 31 May '20
                            10:00 </p>
                             <a href="/event2" class="vd">View Details</a>
                            <div style="clear: both;"></div>
                        </div>
                    </li>
                    <li>
                        <div class="time">
                            <span> <img src="../assets/eve3.JPG" alt="contact"  style="display: block; margin-left:auto ; margin-right: auto; width: 100%; height: 60%;" ><br>
                                <h2><br>
                                <br><br> <br> <span>₹5000</span></h2></span>
                        </div>
                        <div class="details">
                            <h3>Trishul'20</h3>
                            <p><strong> Event Descriptions:</strong>
                                The Tech-Carnival" is a Technical Events<br>
                            <strong>Event Start Date -</strong>  Tue, 01 Sep '20 from 00:00 Fri  Wed 30 Sep   11:59 </p>
                            <a href="/event3" class="vd">View Details</a>
                            <div style="clear: both;"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </div>    
    </footer>
</body>


