<header>
<div class="title">
            <h1 style="font-size: 32px; text-align: center;">Welcome to the College Fests & Events Ticketing Platform</h1> <br>
            <h2 style="font-size: 18px;color: white;">College Events|Registration of Tickets for Free|Ticket Booking|</h2>
            <h2 style="font-size: 18px; color: #ffff;">Management of Events</h2>

        </div>

        <div class="button">
        <a href="#" class="btn">Live Events</a>
        <a href="#" class="btn">Gallery</a>
        </div>
    </header> 

   
     <footer>
        <div class="title">
            <h1 style="font-size: 32px; text-align: center;">Welcome to the College Fests & Events Ticketing Platform</h1> <br>
            <h2 style="font-size: 18px;color: white;">College Events|Registration of Tickets for Free|Ticket Booking|</h2>
            <h2 style="font-size: 18px; color: #ffff;">Management of Events</h2>

        </div>

        <div class="button">
        <a href="/liveevents" class="btn" >Live Events</a>
        <a href="/blog" class="btn">Gallery</a>
        </div> 

        <section class="sect" style="background-image:url(../assets/3.jpg); height:700px;" >
            <div class="leftbox">
                <div class="content">
                    <h3 style="text-align: center;">College Event Management</h3>
                   <p style=" font-size: medium ;; text-align: justify;" >
                  The college event ticketing platform features all the fests , College Event, Workshops, Conferences, symposiums. The fest organizer can now easily sell their tickets online, manage their attendee reports. The entire college fest management is now easy to organize and can get maximum visibility. Once your event gets published, chances of getting sponsorships are high as your event is viewed by many brand managers.
                   </p>
                </div>
            </div>
            <div class="events">
                <ul>
                    <li>
                        <div class="time">
                            <span> <img src="../assets/eve1.JPG" alt="contact"  style="display: block; margin-left:auto ; margin-right: auto; width: 100%; height: 60%;" ><br>
                                <h2><br>
                                <br><br> <br> <span>₹1000</span></h2></span>
                        </div>
                        <div class="details">
                            <h3>Varanasi - Technex Internships by EISystems </h3>
                            <p><strong> Event Descriptions:</strong>
                                EISystems<br>
                            <strong>Event Start Date -</strong> Fri, 15 May '20 from 09:00 am to Fri, 31 Jul '20  06:00 pm</p>
                            <a href="/event1" class="vd">View Details</a>
                            <div style="clear: both;"></div>
                        </div>
                    </li>
                    <li>
                        <div class="time">
                            <span> <img src="../assets/eve2.JPG" alt="contact"  style="display: block; margin-left:auto ; margin-right: auto; width: 100%; height: 60%;" ><br><h2><br>
                                <br><br> <span>₹2000</span></h2></span>
                        </div>
                        <div class="details">
                            <h3>TELOS 2020 </h3>
                            <p><strong> Event Descriptions:</strong>
                                Annual Online Technical Festival of MYWBUT<br>
                            <strong>Event Start Date -</strong> Thu, 28 May '20
                            from 09:00 am to Sun, 31 May '20
                            10:00 pm</p>
                             <a href="/event2" class="vd">View Details</a>
                            <div style="clear: both;"></div>
                        </div>
                    </li>
                    <li>
                        <div class="time">
                            <span> <img src="../assets/eve3.JPG" alt="contact"  style="display: block; margin-left:auto ; margin-right: auto; width: 100%; height: 60%;" ><br>
                                <h2><br>
                                <br><br> <span>₹5000</span></h2></span>
                        </div>
                        <div class="details">
                            <h3>Trishul'20</h3>
                            <p><strong> Event Descriptions:</strong>
                                The Tech-Carnival" is a Technical Events<br>
                            <strong>Event Start Date -</strong>  Tue, 01 Sep '20 from 00:00 am to Fri,  Wed, 30 Sep '20  11:59 pm</p>
                            <a href="/event3" class="vd">View Details</a>
                            <div style="clear: both;"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </section> 

    </footer>