/* header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("E:/Angular_WT-Project-master-master-master/src/assets/pol.png"); 
   height:70px;
   background-size: cover;
   width: auto;
   background-position:bottom;
   
  
 } */